.vimeo_player {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%; /* Aspect ratio (height / width * 100) => (9 / 16 * 100 = 56.25%) */
  height: 0;
  overflow: hidden;
}

.vimeo_player iframe,
.vimeo_player object,
.vimeo_player embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
